<h2 class="audiowide-regular">Admin Panel</h2>


<div class="ULButtonOutline">
    <ul class="nav justify-content-center">
        <li class="nav-item mx-4">
            <button id="toggleAddEvent" class="btn btn-primary btn-lg audiowide-regular">Add Event</button>
        </li>
    </ul>
</div>
<br />
<br />
<br />

<div id="AddEventAdminPage" class="text-center" style="margin-left:160px; margin-right:160px;">
    <h3 class="audiowide-regular">Add an Event</h3>

    <div asp-validation-summary="All" class="text-danger"></div>

    <form asp-controller="" asp-action="" method="post">
        <label>Event Name:</label>
        <input  class="form-control" type="text" id="EventNameAdmin" />
        <br />
        <label>Event Time and Day:</label>
        <input class="form-control" type="text" id="EventTimeDayAdmin" maxlength="16" />
        <br />
        <label >Event Location:</label>
        <input  class="form-control" type="text" id="EventLocationAdmin" />
        <br />
        <label>Event Price:</label>
        <input class="form-control" type="text" id="EventPriceAdmin" />
        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-controller="Account" asp-action="Profile" class="btn btn-primary">Cancel</a>
    </form>

</div>