@{
    ViewData["Title"] = "Home Page";
}
<!--Drop down menu to search for tags-->
<div class="text-end">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle bi bi-search" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
            Search Tags
        </button>
        <ul class="dropdown-menu dropdownColours">
            <li>
                <button class="btn btn-secondary dropdown-toggle bi bi-search" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Genre
        </button>
        <ul class="dropdown-menu dropdownColours">
            <li><a class="dropdown-item" style="color:snow;" href="#">game</a></li>
            <li><a class="dropdown-item" style="color:snow;" href="#">game</a></li>
            <li><a class="dropdown-item" style="color:snow;" href="#">game</a></li>
        </ul>
        </li>
        </ul>

    </div>
</div>

<div class="text-center">
    <img src="img\VapourBanner.png" alt="VapourBanner.png" style="width:1000px;" />
</div>

<div class="text-center">
    <h1 class="display-4 audiowide-regular">Vapor</h1>
    <br /><br /><br />

    <h3 class="audiowide-regular">Suggested</h3>
    <!--Suggeted that shows 3 random games based that matches prefrences-->
    <br/> 
    <div id="GameCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#GameCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#GameCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#GameCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active sliderimg">
          <img src="img/deadcells.jpeg" class="d-block w-100 sliderimg" alt="game1">
        </div>
        <div class="carousel-item sliderimg">
          <img src="img/Fallout4.jpeg" class="d-block w-100 sliderimg" alt="game2">
        </div>
        <div class="carousel-item sliderimg">
          <img src="img/EldenRing.jpeg"class="d-block w-100 sliderimg" alt="game3">
        </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#GameCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#GameCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
