@* loginview.cshtml
* Vapor
* Revision History
* Austin Cameron, 2024.09.26: Created
*@

@{
    ViewData["Title"] = "login";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h2>Welcome Back!</h2>

    <form asp-controller="" asp-action="" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>

        <label for="loginUserName">Username:</label>
        <input type="text" id="loginUserName" name="loginUserName" />
        <br />
        <label for="loginPassword">Password:</label>
        <input type="text" id="loginPassword" name="loginPassword" />
        <br />
        <button type="submit" class="btn btn-primary">Login</button>
        <a asp-controller="" asp-action="" class="btn btn-primary">Cancel</a>
        <br />
        <p>Don't have an account? <a asp-area="" asp-controller="Home" asp-action="signupview">Signup</a>!</p>
    </form>

    
</div>
