@* signupview.cshtml
* Vapor
* Revision History
* Austin Cameron, 2024.09.26: Created
*@

@{
    ViewData["Title"] = "signup";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h2>Welcome!</h2>

    <form asp-controller="" asp-action="" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>

        <label for="signupUserName">Username:</label>
        <input type="text" id="signupUserName" name="signupUserName" />
        <br />
        <label for="signupemail">Email:</label>
        <input type="text" id="signupemail" name="signupemail" />
        <br />
        <label for="signupPassword">Password:</label>
        <input type="text" id="signupPassword" name="signupPassword" />
        <br />
        <label for="ConfirmsignupPassword">ConfirmPassword:</label>
        <input type="text" id="ConfirmsignupPassword" name="ConfirmsignupPassword" />
        <br />

        <button type="submit" class="btn btn-primary">signup</button>
        <a asp-controller="" asp-action="" class="btn btn-primary">Cancel</a>
    </form>
</div>