<div class="text-center">
    <h1 class="display-4 audiowide-regular">Events</h1>
    <br /><br /><br />


    

    <div class="container text-center">
        <div class="row row-cols-2">
            <div id="EventPost" class="EventPost col">
                <h3>Event: </h3> <h3 id="EventName"></h3>
                <p>Event Time and Day: </p> <p id="EventTimeDay"></p>
                <p>Event Location: </p> <p id="EventLocation"></p>
                <p>Event Entry Price: </p> <p id="EventPrice"></p>
                <button id="" class="btn btn-primary">Register</button>
            </div>
            <div id="EventPost" class="EventPost col">
                <h3>Event: </h3> <h3 id="EventName"></h3>
                <p>Event Time and Day: </p> <p id="EventTimeDay"></p>
                <p>Event Location: </p> <p id="EventLocation"></p>
                <p>Event Entry Price: </p> <p id="EventPrice"></p>
                <button id="" class="btn btn-primary">Register</button>
            </div>
            <div id="EventPost" class="EventPost col">
                <h3>Event: </h3> <h3 id="EventName"></h3>
                <p>Event Time and Day: </p> <p id="EventTimeDay"></p>
                <p>Event Location: </p> <p id="EventLocation"></p>
                <p>Event Entry Price: </p> <p id="EventPrice"></p>
                <button id="" class="btn btn-primary">Register</button>
            </div>
            <div id="EventPost" class="EventPost col">
                <h3>Event: </h3> <h3 id="EventName"></h3>
                <p>Event Time and Day: </p> <p id="EventTimeDay"></p>
                <p>Event Location: </p> <p id="EventLocation"></p>
                <p>Event Entry Price: </p> <p id="EventPrice"></p>
                <button id="" class="btn btn-primary">Register</button>
            </div>
        </div>
    </div>

</div>
