@* profileview.cshtml
* Vapor
* Revision History
* Austin Cameron, 2024.09.26: Created
* Julia Lebedzeva, 2024.09.29: Revised
*@

@model CVGS_PROG3050.Entities.Event

@{
    ViewData["Title"] = "eventCreate";
}

<div class="text-center">
    <h1 class="display-4 audiowide-regular">Events</h1>
    
    <br />

    <div class="container text-center">
        <form asp-controller="Events" asp-action="Create" method="post">
            <label asp-for="EventName">Event Name:</label>
            <input asp-for="EventName" id="eventName" class="form-control" />

            <br />
            <label asp-for="EventDate">Event Date:</label>
            <input asp-for="EventDate" id="ProfileEmail" class="form-control" />

            <br />
            <label asp-for="Location">Location:</label>
            <input asp-for="Location" type="text" class="form-control" />
            <br />
            <label asp-for="LocationType">Location Type:</label>
            <select asp-for="LocationType" class="form-control">
                <option value="">Select an option</option>
                <option value="inPerson">In Person</option>
                <option value="online">Online</option>
            </select>
            <br />
            <label asp-for="EventPrice">Event Price: </label>
            <input asp-for="EventPrice" type="text" class="form-control" />
            <br /> <br />
            <button type="submit" id="" class="btn btn-primary">Create Event</button>

        </form>
    
    </div>


</div>