<h1>Games</h1>

@{
    var GameImages = new Dictionary<string, string>
    {
        { "Overwatch 2", "/img/OW2.jpg" },
        { "Dead Cells", "/img/deadcell-1.jpeg" },
        { "Elden Ring", "/img/EldenRing.jpeg" },
        { "Fallout 4", "/img/Fallout4-1.jpeg" },
        { "Forza Horizon 5", "/img/ForzaH5.jpeg" },
        { "LEGO: Batman", "/img/Lego_batman_cover.jpg" },
        { "LEGO: Harry Potter", "/img/Legoharrypotter.jpg" },
        { "LEGO: Star Wars", "/img/LegoStarWars.jpeg" },
        { "Monster Hunter: WORLDS", "/img/Monster.jpeg" },
        { "Nioh: Complete Edition", "/img/Nioh.png" },
        { "Risk of Rain 2", "/img/RiskofRain2.jpg" },
        { "Street Fighter 6", "/img/SF6.jpeg" },
        { "The Elder Scrolls V: Skyrim", "/img/Skyrim.jpg" },
        { "Stardew Valley", "/img/StardewValley.jpeg" },
        { "Tekken 8", "/img/Tekken8.jpeg" },
        { "The King of Fighters XV", "/img/TKoF.jpg" },
        { "Destiny 2", "/img/Destiny2.jpeg" },
    };
}
<div>
    <div class="container text-center">
        <div class="row">
        @foreach (var game in Model)
        {
           
                <div class="col order-last gameDiv">
                    @if (GameImages.ContainsKey(game.Name))
                    {
                        <a href="">
                        <img src="@GameImages[game.Name]" alt="@game.Name" class="gameDivImg" />
                        </a>
                    }
                    <br />
                        @game.Name
                </div>
            
        }
            </div>
    </div>
</div>