<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CVGS_PROG3050</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CVGS_PROG3050.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="site.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/Vapor_NoBackground1.png" alt="Vapour_NoBackground.png" style="width:40px; height:40px;" /></a>
                <a class="navbar-brand text-light audiowide-regular" asp-area="" asp-controller="Home" asp-action="Index">apor</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light audiowide-regular" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light audiowide-regular" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                        
                            <a class="nav-link text-light audiowide-regular" asp-area="" asp-controller="Events" asp-action="EventsView">Events</a>

                        </li>
                        <li class="nav-item">

                            <a class="nav-link text-light audiowide-regular" asp-area="" asp-controller="Cart" asp-action="ViewCart">Cart</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {

                            <li class="nav-item">
                                <a class="nav-link text-light audiowide-regular" asp-area="" asp-controller="Account" asp-action="Profile">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light audiowide-regular" asp-area="" asp-controller="Order" asp-action="PurchasedGames">My Games</a>
                            </li>

                            <li class="nav-item">
                                <form asp-controller="Account" asp-action="LogOut" method="post" class="form-inline">
                                    <button type="submit" class="nav-link btn btn-link text-light audiowide-regular">Sign Out</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light audiowide-regular" asp-area="" asp-controller="Account" asp-action="LogIn">Login</a>
                            </li>
                        }
                        
                        @if (User.IsInRole("Admin"))
                        {
                        <li class="nav-item">
                            <a class="nav-link text-light audiowide-regular" asp-area="" asp-controller="Admin" asp-action="AdminPanelView">Admin Panel</a>
                        </li>
                        <li class="nav-item">  
                            <a href="@Url.Action("PendingOrders", "Order")" class="nav-link text-light audiowide-regular">View Pending Orders</a>
                        </li>

                        }
                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - CVGS_PROG3050 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
