@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Email Verification sent";
}

<h2> Email Verification Sent</h2>
<p>
    Please check your inbox and confirm your email
</p>