@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model CVGS_PROG3050.Models.ForgotPasswordViewModel

<h2> Forgot Your Password? </h2>
<p>Please enter your email address to reset your password: </p>

<form asp-controller="Account" asp-action="ForgotPassword" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <label asp-for="Email">Email:</label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>

    <br />
    <button type="submit" class="btn btn-primary">Send Password Reset Link</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Cancel</a>

</form>