@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Password Reset Confirmation";
}

<h2>Password Reset Link has been sent!</h2>
<p>
    Please check your email for a password reset link.
</p>
<a asp-controller="Account" asp-action="LogIn">Return to Login</a>