@{
    ViewData["Title"] = "Admin";
}

<h2 class="audiowide-regular">Admin Panel</h2>


<div class="ULButtonOutline">
    <ul class="nav justify-content-center">
        <li class="nav-item mx-4">
            <button id="toggleAddEvent" class="btn btn-primary btn-lg audiowide-regular">Add Event</button>
        </li>
        <li class="nav-item mx-4">
            <button id="toggleReviews" class="btn btn-primary btn-lg audiowide-regular">See Reviews</button>
        </li>
        <li class="nav-item mx-4">
            <button id="toggleReports" class="btn btn-primary btn-lg audiowide-regular">Generate Report</button>
        </li>
    </ul>
</div>
<br />
<br />
<br />

<div id="AddEventAdminPage" class="text-center" style="margin-left:160px; margin-right:160px;">
    <h3 class="audiowide-regular">Add an Event</h3>

    <div asp-validation-summary="All" class="text-danger"></div>

    <form asp-controller="" asp-action="" method="post">
        <label>Event Name:</label>
        <input  class="form-control" type="text" id="EventNameAdmin" />
        <br />
        <label>Event Time and Day:</label>
        <input class="form-control" type="text" id="EventTimeDayAdmin" maxlength="16" />
        <br />
        <label >Event Location:</label>
        <input  class="form-control" type="text" id="EventLocationAdmin" />
        <br />
        <label>Event Price:</label>
        <input class="form-control" type="text" id="EventPriceAdmin" />
        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-controller="Account" asp-action="Profile" class="btn btn-primary">Cancel</a>
    </form>

</div>


<div id="ReviewReviewsAdminPage" class="text-center hidden" style="margin-left:160px; margin-right:160px;">
    <div class="gameReviewReviewDiv">
        <h2>Game</h2>
        <h3>Risk of Rain 2</h3>
        <h4>Rating</h4>
        <p>5/5</p>
        <h4>Reviews</h4>
        <div class="loopedReviewDiv"><p>ForniteLover3: Looped through all reviews for game</p></div>
    </div>

    <div class="gameReviewReviewDiv">
        <h2>Game</h2>
        <h3>DeadCells</h3>
        <h4>Rating</h4>
        <p>4/5</p>
        <h4>Reviews</h4>
        <div class="loopedReviewDiv"><p>ForniteLover3: Looped through all reviews for game</p></div>
    </div>

</div>

<div id="GenerateReportAdminPage" class="text-center hidden" style="margin-left:160px; margin-right:160px;">
    <h3 class="audiowide-regular">View Reports</h3>

    <div class="grid-container">
        <div class="grid-item">
            <h4>Member Report</h4>
            <p>Obtain a full detailed listing of Members who have signed up for Vapor.</p>
            <button class="btn btn-primary" onclick="location.href='@Url.Action("ExportMembersToExcel","UserReport")'">Download Member Report (Excel)</button>
        </div>
        <div class="grid-item">
            <h4>Game Report</h4>
            <p>Obtain a full detailed listing of the Games currently being sold on Vapor.</p>
            <button class="btn btn-primary" onclick="location.href='@Url.Action("ExportGamesToExcel","GameReport")'">Download Game Report (Excel)</button>
        </div>
        <div class="grid-item">
            <h4>Event Report</h4>
            <p>Obtain a full detailed listing of the Events on Vapor. The reports also indicates how many members have registered for the event.</p>
            <button class="btn btn-primary" onclick="location.href='@Url.Action("ExportEventsToExcel","EventReport")'">Download Event Report (Excel)</button>
        </div>
    </div>

</div>